body {
	color: #ecf0f1;
	background-color: #3498db;
}

.jumbotron{
	color: #3498db;
	padding: 20px;
}

.padding-fix{
	padding: 0 20px 20px 20px;
}

.project-image{
	width: 100%;
	float: none;
}

.sm-row{
	text-align: center;
	padding-bottom: 20px;
}

.sm-icon{
	color: #ecf0f1;
	margin: 0 auto;
}

/* DRY: Don't repeat your code */